# {{ .environment }} Environment
export ENVIRONMENT="{{ .environment }}"

# Determine where dotfiles should be applied
{{ if eq .config "local" }}
  export ZSH_CONFIG_DIR="{{ .chezmoi.executionDir }}"
{{ else }}
  export ZSH_CONFIG_DIR="$HOME"
{{ end }}

# Source per-environment aliases (if they exist)
if [ -f "$ZSH_CONFIG_DIR/.aliases" ]; then
  source "$ZSH_CONFIG_DIR/.aliases"
fi

export SHELL=/bin/zsh
