FROM {{ .chezmoidata.environments.docker-web-dev.base_image }}

RUN apt-get update && apt-get install -y \
  {% for package in .chezmoidata.environments.docker-web-dev.packages %}{{ package }} {% endfor %}

RUN useradd -m -s /bin/zsh {{ .chezmoidata.environments.docker-web-dev.user }} && \
    echo "{{ .chezmoidata.environments.docker-web-dev.user }} ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers

WORKDIR /home/{{ .chezmoidata.environments.docker-web-dev.user }}
USER {{ .chezmoidata.environments.docker-web-dev.user }}

RUN curl -fsLS get.chezmoi.io | sh -s -- -b /home/{{ .chezmoidata.environments.docker-web-dev.user }}/.local/bin
ENV PATH="/home/{{ .chezmoidata.environments.docker-web-dev.user }}/.local/bin:$PATH"

CMD ["/bin/zsh"]
