#!/bin/bash
set -e

echo "Configuring Zsh as the default shell..."

if [[ "$SHELL" != "$(which zsh)" ]]; then
  echo "Changing shell to Zsh..."
  chsh -s "$(which zsh)"
fi

echo "Zsh is now the default shell!"
