version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: web-dev
    stdin_open: true
    tty: true
    volumes:
     - {{ .chezmoidata.environments.docker-web-dev-db.localpath }}:/home/{{ .chezmoidata.environments.docker-web-dev.user }}
	 depends_on:
      - db

  db:
    image: postgres:latest
    container_name: web-db
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: devdb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
